<?xml version="1.0" encoding="UTF-8"?>
<config>
    <frontend>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>JarabeSoft_Weblog</module>
                    <frontName>weblog</frontName>
                </args>
            </weblog>
        </routers>
    </frontend>
    <global>
        <models>
            <weblog>
                <class>JarabeSoft_Weblog_Model</class>
                <resourceModel>weblog_resource</resourceModel>
            </weblog>
            <weblog_resource>
                <class>JarabeSoft_Weblog_Model_Resource</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </weblog_resource>
        </models>
    </global>
</config>
